@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'League Spartan', sans-serif;;
}

k1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

k2{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-weight: 500;
}

k3{
    font-size: 20px;
    line-height: 20px;
    color: #222;
    font-weight: 600;
}

k4{
    font-size: 22px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

k6{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

p{
    font-size: 16px;
    color: #465b52
}

body{
    width:100%;
}

.section-m1{
    margin: 40px 80px;
}

.section-p1{
    padding: 40px 80px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

/* header */




#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom:-4px;
    left: 20px;
}



/*----Landing Page-----*/
#hero{
    background-image: url(Img/img.png);
    height: 90vh;
    width: 100%;
    background-position:top 5vh right 20%;
    background-size: 90vh;
    background-repeat: no-repeat;
    

    padding-left: 100px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
        
    }

    #hero k3{
        padding-bottom: 15px;
        font-weight: 600;

    }

    #hero k1{
        color: #088178;
        font-size: 50px;
       line-height: 64px;
       font-weight: 600;
    }

    #hero k2{
       
    color: #222;
        font-size: 50px;
       line-height: 64px;
    }  
/*
#btn1{
    background-image: url(Img/back-arrow.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    margin-right: 25px;
    margin-top: 40px;
  
    width:40px;
    height: 80px;
} */

#hero .arrow-icon img{    
    width:40px;
    margin-right: 25px;
    margin-top: 40px;

}

/*----Landing Page----- Feature------*/
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#f4f4f8

}

#freeship{
    width: 20vh;
    height: 16vh;
}

#feature #fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow : 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0 ;
    border-radius:  10px;
    margin: 15px 0;
    background-color: #fff;

}
#feature #fe-box:hover{
    box-shadow : 10px 10px 54px rgba(70, 62, 221, 0.2);
}

#feature #fe-box img{
    width: 100%;
}

#feature #fe-box k3{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    
    background-color: #cdebbc;

}

#feature #fe-box:nth-child(2) k3{
    
    background-color: #d1e8f2;
}

#feature #fe-box:nth-child(3) k3{
    background-color: #fddde4;
}
#feature #fe-box:nth-child(4) k3{
    background-color: #fff2e5;
    
}
#feature #fe-box:nth-child(5) k3{
    background-color: #cdd4f8;
    
}

/*----Landing Page----- Featured PRODUCTS------*/

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.04);
}
#product1 .pro img{
    width: 100%;
    border-radius: 10px;
   
}

#product1 .pro .des{
        text-align: start;
        padding: 10px 0; 
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .des .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px ;
    background-color: #e8f6ea;
    font-size: 500;
    color:#088178;
    padding-left: 10px;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

/*----Landing Page----- 0%  Sale BANNER  ------*/

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/git/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

#banner h4{
    color:#fff;
    font-size: 16px;
}

#banner k2{
    color:#fff;
    font-size: 30px;
    padding: 10px 0;

}

#banner k2 span{
    color: #ef3636;

}

#banner button:hover{
        background: #088178;
        color: #fff;
}


#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/git/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/git/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("img/git/banner/b10.jpg");
}

#sm-banner h4{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner k2{
    color:#fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/git/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("img/git/banner/b4.jpg");
}

#banner3 .banner-box3{
    background-image: url("img/git/banner/b18.jpg");
}

#banner3 k2{
    color:#fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 k3{
    color: #ec544e;;
    font-weight: 900;
    font-size: 22px;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}


/*----Landing Page----- Newslatter------*/

.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
    height: 15vh;
    padding: 40px 80px;
}

.newsletter p{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    

}

.newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
